:root {
  --blue: #4281a4;
  --green: #48a9a6;
  --white: #e4dfda;
  --brown: #d4b483;
  --red: #c1666b;
  --cyan: #c6d4ff;
  --pink: #ffaebc;
  --purple: #afb4ff;
  font-size: 10px;
  font-family: "Handlee", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary: var(--purple);
  --secondary: var(--red);
}
.light {
  --primary: var(--purple);
  --secondary: var(--red);
}
.green {
  --primary: var(--green);
  --secondary: var(--brown);
}
body {
  background-color: var(--primary);
  color: var(--secondary);
}
h1 {
  text-align: center;
  font-size: 5rem;
}
.display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  width: 70rem;
  height: 60rem;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 5rem;
  border-radius: 2rem;
  background-color: var(--white);
}
img {
  width: 50rem;
  height: 40rem;
}
button {
  width: 10rem;
  height: 8rem;
}
.choices {
  margin-right: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
